body {
  padding: 1rem .5rem 2.5rem .5rem;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
}

input,
button,
.btn {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0.5em 0;
  text-align: center;
}

.logo > i {
  border-radius: 50%;
  padding: 12px 18px;
}
